#header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-logo {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    flex: 1;
}

#header-index{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 8px;
}


.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

#home-page{
    background-color: #1f2937;
    display: flex;
    flex: 1;
}

.main-text{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}